*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Body Section*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 400% 400%;
    background-color: lightpink;
}

/*Center Section*/
.center{
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

/*Digital Clock*/
#display{
    position: absolute;
    transform: translateX(-50%);
    color: #00ffff;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    padding: 10px 25px;
    border-radius: 12px;
}